/* to help me with break point */
@use 'mixins';

*{
    /* reset */
    margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: var(--main-color_1);
}
:root {
    /* main var */
    --main-color_1:#b3b3b3;
    --main-color_2:#ffffff;
    --main-color_3:#3b1c8b;
    --main-color_4:#1E1D3C;
    --bg: #1E1D3C;
    /* style progress bar var */
    --transition: stroke-dashoffset 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    --circle-bg: rgba(43, 26, 106, 0.218);
    --section-after: #6A38F1;
    --box: #6352d3;
  }
h1,h2,h3,a{
    font-family: garamond;
}

body{
    background: url(img/subtle-prism.webp);
    background-size: cover;
    
}

img{
    height: 60vh;
    width: auto;
    opacity: 0.8;
    @include mixins.breakpoint(1000px){
      height:  40vh;
    }
}

a, i{
    text-decoration: none;
    color: var(--main-color_2);
    font-size: 40px;
    transition: all 0.3s;
  }
  a:hover{
    color:var(--main-color_1);
  }

/* header section*/



header{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 15vh;
    background: linear-gradient(rgba(59, 14 ,92 , 0.7),#551b7f00);
    color: var(--main-color_1);

    
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;

        a{
            font-size: 30px;
            @include mixins.breakpoint(500px){
                font-size: 20px;
            }
        }
        
    }
}


/* scroll section */


main .scroller{
    height: 100vh;
    /* scroll snap */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    section{
        scroll-snap-align: start;
        display: grid;
        grid-template-columns: 1fr 11fr;
        grid-template-rows: 100vh;
        grid-template-areas: "Page_name content";

    }
    @include mixins.breakpoint(1000px){
       overflow-y: none ;
       scroll-snap-type: none;
       section{
            display: block;
            scroll-snap-align: none;
       } 
    }
}


/* right side section */


.Page_name{
    display: flex;
    height: 100%;
    position: sticky;
    color:var(--main-color_1);
    align-items: center;

    div{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        text-align: center;


        h2 {
            font-size: 50px;
            /* to write on vertical */
            writing-mode: vertical-rl;
            text-orientation: upright;
        }
    }
    @include mixins.breakpoint(1000px){
        display: none;
    }
    
}

 
/*  Home page section  */


@include mixins.breakpoint(1000px){
    #Home{
        margin-bottom: 80px;
    } 
}
.content{
    height: 100%;
    justify-content: center;

    .home{
        display: flex;
        .main_text{
            margin-top: 20vh;
            width: 60vw;
            height: 100%;
            .title{
                height: 25%;
                font-size: 60px;
                text-align: center;
                justify-content: center;
                color: var(--main-color_2);
            }
            .text{
                margin: 100px auto;
                width: 50%;
                height: 20%;
                font-size: 24px;
                font-style: italic;
                color: var(--main-color_1);
                font-family: sans-serif;
                @include mixins.breakpoint(1000px){
                        width: 70%;
                }
            }
        }
        .image{
            text-align:center;
            margin:auto;
            display:flex;

        }
    @include mixins.breakpoint(700px){
        display: flex;
        flex-direction: column-reverse;
        .main_text{
            margin: 10vh auto 0;
            width: 100vw;
            height: 100%;
            .text{
                margin: 5vh auto 0;
                width: 80%;
                font-size: 20px;
            }
        }
    }
    }
    

}


/*  Projects section  */


#Projects .content{
    display: grid;
    width: 100%;
    grid-gap: 1em;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
	grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-auto-rows: 250px;


.flip {
    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
    }
    &:hover {
        >.back {
            opacity: 1;
        }
    }
    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }
        &:hover {
            >.front {
                transform: rotateX(180deg);
            }
            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}

.flip {
    position: relative;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    max-width: 400px;
    width: 90%;
    height: auto;

    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
        color: white;
        background-size: cover!important;
        background-position: center!important;
        width: auto;
        height: 100%;
        max-height: 220px;
        padding: 1em 2em;
        background: #313131;
        border-radius: 10px;
        h2{
            font-size: 2em;
            text-align: center;
            margin-bottom: 20px;
        }
        p{
            font-size: 0.9125rem;
            line-height: 160%;
            color: #999;
        }
    }
}
}


/*  About_me section  */


#About_me{
    .c_About_me{
         display: flex;
         justify-content: space-around;
         .CV{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                padding: 5em 0;
            }
         }
        .skills{
            color: var(--main-color_1);
            position: relative;
            top: 20%;
            text-align:  center;
            height: 70%;
            h3{
                color: var(--main-color_2);
                font-size: 30px;
                margin-bottom: 50px;
            }
            .skills_info{
                display: flex;
                .skill_info{
                    display: flex;
                    flex-direction: column;
                    padding: 2em;
                    align-items: center;
                    img{
                        width: auto;
                        height: 150px;
                    }
                    div{
                        margin:  20px 0;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
        
        }
    @include mixins.breakpoint(1200px){
        .skills .skills_info .skill_info{
            padding: 0.5em;
        }
    }
    @include mixins.breakpoint(1000px){
        flex-direction: column;
        width: 100vw;
        .skills_info{
            justify-content: center;
        }
        img{
            height: 400px;
        }
    }
    @include mixins.breakpoint(700px){
        .skills_info{
            flex-direction: column;
        }
    }
    }
}
@include mixins.breakpoint(1000px){
    #About_me{
        height:140vh;
    }
}
@include mixins.breakpoint(700px){
    #About_me{
        height:230vh;
    }
}

  
  
  .ProgressBar{
    --size: 12rem;
    --pgPercentage: var(--value);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, var(--main-color_2) 80%, transparent 0 99.9%, var(--main-color_2) 0),
      conic-gradient(var(--main-color_3) calc(var(--pgPercentage) * 1%), var(--main-color_2) 0)
      ;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}
  
  .ProgressBar:before {
    color: #000;
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}


/*  Contact section  */


#Contact{
    margin: auto;
    .direct-contact-container {
        min-width: 400px;
        width: 60%;
        max-width: 600px;
        margin: 150px auto;
        background-color: var(--main-color_4);
        opacity: 0.8;
        padding: 60px;
        border-radius: 50px;
        .contact-list {
            list-style-type: none;
            margin-left: -30px;
            padding-right: 20px;
            .list-item {
                line-height: 5;
            }
          
            .contact-text {
                font-size: 2rem;
                letter-spacing: 2px;
                a{
                    font-size: 2rem;
                }
                @include mixins.breakpoint(1200px){
                    font-size: 1.5rem;
                }
                @include mixins.breakpoint(1000px){
                    a{
                        font-size: 1.5rem;
                    }
                }
                @include mixins.breakpoint(1000px){
                    font-size: 1rem;
                }
            }
            
          
            .place {
                margin-left: 62px;
            }
          
            .phone {
                margin-left: 56px;
            }
          
            .gmail {
                color: var(--main-color_1);
                margin-left: 53px;
            }
            
            .contact-text a {
                color: var(--main-color_1);
                text-decoration: none;
                transition: all 0.3s;
            }
            
            .contact-text a:hover {
                color: var(--main-color_2);
                text-decoration: none;
            }
        }
    }
    .social_network{
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 60%;
        max-width: 400px;
        margin: 100px auto 0;
        i:hover{
            font-size: 1.5em;
        }
        
    }
    @include mixins.breakpoint(1000px){
        .content{
            width: 100vw;
        }
        
    }
    @include mixins.breakpoint(600px){
        .direct-contact-container{
            min-width: 200px;
            .contact-list
            {
                .place {
                    margin-left: 22px;
                }
              
                .phone {
                    margin-left: 16px;
                }
              
                .gmail {
                    
                    margin-left: 17px;
                }
                .contact-text{
                    font-size: 12px;
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
    @include mixins.breakpoint(400px){
        .direct-contact-container .contact-list .fa-2x{
            font-size: 1em;
        }
    }
    }    

}


  
  
  



