* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: var(--main-color_1);
}

:root {
  --main-color_1:#b3b3b3;
  --main-color_2:#ffffff;
  --bg: #1E1D3C;
  --transition: stroke-dashoffset 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  --circle-bg: rgba(43, 26, 106, 0.218);
  --section-after: #6A38F1;
  --box: #6352d3;
}

h1, h2, h3, a {
  font-family: garamond;
}

body {
  background: url(img/subtle-prism.webp);
  background-size: cover;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 10vh;
  background: linear-gradient(rgba(85, 27, 127, 0.3568627451), rgba(85, 27, 127, 0));
  color: var(--main-color_1);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav a {
  font-size: 30px;
}
@media screen and (max-width: 500px) {
  header nav a {
    font-size: 20px;
  }
}

main .scroller {
  margin-top: 10vh;
  height: 90vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
main .scroller section {
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 90vh;
  grid-template-areas: "Page_name content";
}
@media screen and (max-width: 1000px) {
  main .scroller {
    overflow-y: none;
    scroll-snap-type: none;
  }
  main .scroller section {
    scroll-snap-align: none;
  }
}

.Page_name {
  display: flex;
  height: 100%;
  position: sticky;
  color: var(--main-color_1);
  align-items: center;
}
.Page_name div {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  text-align: center;
}
.Page_name div h2 {
  font-size: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
@media screen and (max-width: 1000px) {
  .Page_name {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #Home {
    height: 100vh;
  }
}
.content {
  height: 100%;
  justify-content: center;
}
.content .home {
  display: flex;
}
.content .home .main_text {
  margin-top: 20vh;
  width: 60vw;
  height: 100%;
}
.content .home .main_text .title {
  height: 25%;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  color: var(--main-color_2);
}
.content .home .main_text .text {
  margin: 100px auto;
  width: 50%;
  height: 20%;
  font-size: 24px;
  font-style: italic;
  color: var(--main-color_1);
  font-family: sans-serif;
}
@media screen and (max-width: 1000px) {
  .content .home .main_text .text {
    width: 70%;
  }
}
.content .home .image {
  text-align: center;
  margin: auto;
  display: flex;
}
@media screen and (max-width: 700px) {
  .content .home {
    display: flex;
    flex-direction: column-reverse;
  }
  .content .home .main_text {
    margin: 10vh auto 0;
    width: 100vw;
    height: 100%;
  }
  .content .home .main_text .text {
    margin: 5vh auto 0;
    width: 80%;
    font-size: 20px;
  }
}

img {
  height: 60vh;
  width: auto;
  opacity: 0.8;
}
@media screen and (max-width: 1000px) {
  img {
    height: 40vh;
  }
}

.projects {
  display: flex;
  width: 80vw;
  margin-left: 50px;
}
.projects .panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  flex: 0.5;
  cursor: pointer;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
  border: 2px solid black;
  box-shadow: 5px 14px 25px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}
.projects .panel h3, .projects .panel a {
  font-size: 32px;
  position: absolute;
  bottom: 20px;
  left: 45%;
  margin: 0;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 1000px) {
  .projects .panel h3, .projects .panel a {
    left: 35%;
  }
}
.projects .panel h3 {
  bottom: 100px;
  left: 40%;
  font-size: 48px;
}
@media screen and (max-width: 1000px) {
  .projects {
    flex-direction: column;
    height: 70vh;
  }
  .projects .panel {
    flex: 2;
    height: 80vh;
    width: 60vw;
    margin: 20px auto;
  }
  .projects .panel h3 {
    left: 30%;
    font-size: 32px;
    bottom: 75px;
  }
  .projects .panel a {
    left: 25%;
  }
}

.panel.active {
  flex: 5;
}
.panel.active h3, .panel.active a {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in 0.4s;
  color: var(--main-color_2);
}

.button {
  display: block;
  width: 130px;
  height: 30px;
  background: #3b1c8b;
  text-align: center;
  padding: 15px;
  color: var(--main-color_2) !important;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s !important;
}

.button:hover {
  background: #1E1D3C;
  color: var(--main-color_1);
}

#About_me .c_About_me {
  display: flex;
  justify-content: space-around;
}
#About_me .c_About_me .CV {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#About_me .c_About_me .CV img {
  padding: 5em 0;
}
#About_me .c_About_me .skills {
  color: var(--main-color_1);
  position: relative;
  top: 20%;
  text-align: center;
  height: 70%;
}
#About_me .c_About_me .skills h3 {
  color: var(--main-color_2);
  font-size: 30px;
  margin-bottom: 50px;
}
#About_me .c_About_me .skills .skills_info {
  display: flex;
}
#About_me .c_About_me .skills .skills_info .skill_info {
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
}
#About_me .c_About_me .skills .skills_info .skill_info img {
  width: auto;
  height: 150px;
}
#About_me .c_About_me .skills .skills_info .skill_info div {
  margin: 20px 0;
}
#About_me .c_About_me .skills .skills_info .skill_info p {
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  #About_me .c_About_me .skills .skills_info .skill_info {
    padding: 0.5em;
  }
}
@media screen and (max-width: 1000px) {
  #About_me .c_About_me {
    flex-direction: column;
    width: 100vw;
  }
  #About_me .c_About_me .skills_info {
    justify-content: center;
  }
  #About_me .c_About_me img {
    height: 400px;
  }
}
@media screen and (max-width: 700px) {
  #About_me .c_About_me .skills_info {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  #About_me {
    height: 140vh;
  }
}
@media screen and (max-width: 700px) {
  #About_me {
    height: 230vh;
  }
}
.ProgressBar {
  --size: 12rem;
  --fg: #3b1c8b;
  --bg: #def;
  --pgPercentage: var(--value);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

.ProgressBar:before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}

#Contact {
  margin: auto;
}
#Contact .direct-contact-container {
  min-width: 400px;
  width: 60%;
  max-width: 600px;
  margin: 150px auto;
  background-color: #1E1D3C;
  opacity: 0.8;
  padding: 60px;
  border-radius: 50px;
}
#Contact .direct-contact-container .contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}
#Contact .direct-contact-container .contact-list .list-item {
  line-height: 5;
}
#Contact .direct-contact-container .contact-list .contact-text {
  font-size: 2rem;
  letter-spacing: 1.9px;
}
#Contact .direct-contact-container .contact-list .contact-text a {
  font-size: 2rem;
}
@media screen and (max-width: 1200px) {
  #Contact .direct-contact-container .contact-list .contact-text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) {
  #Contact .direct-contact-container .contact-list .contact-text a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) {
  #Contact .direct-contact-container .contact-list .contact-text {
    font-size: 1rem;
  }
}
#Contact .direct-contact-container .contact-list .place {
  margin-left: 62px;
}
#Contact .direct-contact-container .contact-list .phone {
  margin-left: 56px;
}
#Contact .direct-contact-container .contact-list .gmail {
  color: var(--main-color_1);
  margin-left: 53px;
}
#Contact .direct-contact-container .contact-list .contact-text a {
  color: var(--main-color_1);
  text-decoration: none;
  transition: all 0.3s;
}
#Contact .direct-contact-container .contact-list .contact-text a:hover {
  color: var(--main-color_2);
  text-decoration: none;
}
#Contact .social_network {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 60%;
  max-width: 400px;
  margin: 100px auto 0;
}
#Contact .social_network i:hover {
  font-size: 1.5em;
}
@media screen and (max-width: 1000px) {
  #Contact .content {
    width: 100vw;
  }
}
@media screen and (max-width: 600px) {
  #Contact .direct-contact-container {
    min-width: 200px;
  }
  #Contact .direct-contact-container .contact-list .place {
    margin-left: 22px;
  }
  #Contact .direct-contact-container .contact-list .phone {
    margin-left: 16px;
  }
  #Contact .direct-contact-container .contact-list .gmail {
    margin-left: 17px;
  }
  #Contact .direct-contact-container .contact-list .contact-text {
    font-size: 12px;
  }
  #Contact .direct-contact-container .contact-list .contact-text a {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) and (max-width: 400px) {
  #Contact .direct-contact-container .contact-list .fa-2x {
    font-size: 1em;
  }
}

a, i {
  text-decoration: none;
  color: var(--main-color_2);
  font-size: 40px;
  transition: all 0.3s;
}

a:hover {
  color: var(--main-color_1);
}

/*# sourceMappingURL=index.css.map */
