*{
    margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



main{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: "logo navbar"
                        "page_name content";

    .logo{
        border: black 2px solid;

        img{
            max-width: 100%;
            max-height: 100%;
            
        }
    }

    
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: black 2px solid;

        p{
            font-size: 30px;
        }
        
    }
}
.Page_name{
    height: 100%;
    border: black 2px solid;

    div{
        position: relative;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        top: 25%;
        text-align: center;

        h2 {
            font-size: 50px;
            writing-mode: vertical-rl;
            text-orientation: upright;
        }
    }
    
}
.content{
    display: flex;
    height: 100%;
    border: black 2px solid;
    justify-content: center;
    div{
        margin: auto;
        width: 70%;
        height: 100%;
        .title{
            height: 50%;
            font-size: 60px;
            text-align: center;
            justify-content: center;
            h1{
                margin-top: 15vh;
            }
        }
        .text{
            width: 50%;
            height: 20%;
            font-style: 25px;
        }
    }

}
