* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --main-color_1:#b3b3b3;
  --main-color_2:#ffffff;
  --bg: #1E1D3C;
  --transition: stroke-dashoffset 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  --circle-bg: rgba(43, 26, 106, 0.218);
  --section-after: #6A38F1;
  --box: #6352d3;
}

h1, h2, h3, a {
  font-family: garamond;
}

body {
  background: url(img/subtle-prism.png);
  background-size: cover;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 10vh;
  grid-template-areas: "logo navbar";
  background: linear-gradient(rgba(85, 27, 127, 0.3568627451), rgba(85, 27, 127, 0));
  color: var(--main-color_1);
}
header .logo img {
  max-width: 100%;
  max-height: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav a {
  font-size: 30px;
}

main .scroller {
  margin-top: 10vh;
  height: 90vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
main .scroller section {
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 90vh;
  grid-template-areas: "Page_name content";
}

.Page_name {
  display: flex;
  height: 100%;
  position: sticky;
  color: var(--main-color_1);
  align-items: center;
}
.Page_name div {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  text-align: center;
}
.Page_name div h2 {
  font-size: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.content {
  height: 100%;
  justify-content: center;
}
.content .home {
  display: flex;
}
.content .home div {
  padding-top: 100px;
  margin: auto;
  width: 80%;
  height: 100%;
}
.content .home div .title {
  height: 25%;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  color: var(--main-color_2);
}
.content .home div .text {
  width: 50%;
  height: 20%;
  font-size: 16px;
  color: var(--main-color_1);
  font-family: sans-serif;
}

.image {
  text-align: center;
  margin: auto;
  display: flex;
}

img {
  height: 40vh;
  width: auto;
}

.projects {
  display: flex;
  width: 80vw;
  margin-left: 50px;
}
.projects .panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  flex: 0.5;
  cursor: pointer;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
  border: 2px solid black;
  box-shadow: 5px 14px 25px rgba(0, 0, 0, 0.6);
}
.projects .panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 45%;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

#About_me .c_About_me {
  display: flex;
  justify-content: space-around;
}
#About_me .c_About_me .CV {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#About_me .c_About_me .CV img {
  padding: 5em 0;
}
#About_me .c_About_me .CV .button {
  display: block;
  width: 115px;
  height: 25px;
  background: #3b1c8b;
  text-align: center;
  padding: 15px;
  border-radius: 20%;
  color: var(--main-color_2);
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s;
}
#About_me .c_About_me .CV .button:hover {
  background: #1E1D3C;
  color: var(--main-color_1);
}
#About_me .c_About_me .skills {
  color: var(--main-color_1);
  position: relative;
  top: 20%;
  text-align: center;
  height: 70%;
}
#About_me .c_About_me .skills h3 {
  color: var(--main-color_2);
  font-size: 30px;
  margin-bottom: 50px;
}
#About_me .c_About_me .skills .skills_info {
  display: flex;
}
#About_me .c_About_me .skills .skills_info .skill_info {
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
}
#About_me .c_About_me .skills .skills_info .skill_info img {
  width: auto;
  height: 150px;
}
#About_me .c_About_me .skills .skills_info .skill_info div {
  margin: 20px 0;
}
#About_me .c_About_me .skills .skills_info .skill_info h5 {
  font-size: 20px;
}

@keyframes growProgressBar {
  0%, 33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
div[role=progressbar] {
  --size: 12rem;
  --fg: #3b1c8b;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role=progressbar]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}

#contact {
  margin: auto;
}
#contact form {
  max-width: 420px;
  margin: 30px auto;
  text-align: center;
}
#contact form h3 {
  font-size: 40px;
  color: var(--main-color_2);
  margin: 30px auto;
}
#contact form .feedback-input {
  color: white;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: rgb(30, 30, 30);
  border: 2px solid #3b1c8b;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}
#contact form textarea {
  height: 150px;
  line-height: 150%;
}
#contact form [type=submit] {
  width: 100%;
  background: #3b1c8b;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: var(--main-color_2);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -4px;
  transition: all 0.3s;
}
#contact form [type=submit]:hover {
  background: #1E1D3C;
  color: var(--main-color_1);
}
#contact .social_network {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 150px auto 0;
}

/*# sourceMappingURL=index.css.map */
