@use 'mixins';

*{
    
    margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: var(--main-color_1);
}
:root {
    --main-color_1:#b3b3b3;
    --main-color_2:#ffffff;
    --bg: #1E1D3C;
    --transition: stroke-dashoffset 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    --circle-bg: rgba(43, 26, 106, 0.218);
    --section-after: #6A38F1;
    --box: #6352d3;
  }
h1,h2,h3,a{
    font-family: garamond;
}

body{
    background: url(img/subtle-prism.webp);
    background-size: cover;
    
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    display: grid;
    height: 10vh;
    background: linear-gradient(#551b7f5b,#551b7f00);
    color: var(--main-color_1);

    .logo{

        img{
            max-width: 100%;
            max-height: 100%;
            
        }
    }

    
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;

        a{
            font-size: 30px;
            @include mixins.breakpoint(500px){
                font-size: 20px;
            }
        }
        
    }
}
main .scroller{
    margin-top: 10vh;
    height: 90vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    section{
        scroll-snap-align: start;
        display: grid;
        grid-template-columns: 1fr 11fr;
        grid-template-rows: 90vh;
        grid-template-areas: "Page_name content";

    }
    @include mixins.breakpoint(1000px){
       overflow-y: none ;
       scroll-snap-type: none;
       section{
            scroll-snap-align: none;
       } 
    }
}

.Page_name{
    display: flex;
    height: 100%;
    position: sticky;
    color:var(--main-color_1);
    align-items: center;

    div{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        text-align: center;


        h2 {
            font-size: 50px;
            writing-mode: vertical-rl;
            text-orientation: upright;
        }
    }
    @include mixins.breakpoint(1000px){
        display: none;
    }
    
}
@include mixins.breakpoint(500px){
    #Home{
        height: 100vh;
    }
}
.content{
    height: 100%;
    justify-content: center;

    .home{
        display: flex;
        .main_text{
            margin-top: 20vh;
            width: 60vw;
            height: 100%;
            .title{
                height: 25%;
                font-size: 60px;
                text-align: center;
                justify-content: center;
                color: var(--main-color_2);
            }
            .text{
                margin: 100px auto;
                width: 50%;
                height: 20%;
                font-size: 24px;
                font-style: italic;
                color: var(--main-color_1);
                font-family: sans-serif;
                @include mixins.breakpoint(1000px){
                        width: 70%;
                }
            }
        }
        .image{
            text-align:center;
            margin:auto;
            display:flex;

        }
    @include mixins.breakpoint(700px){
        display: flex;
        flex-direction: column-reverse;
        .main_text{
            margin: 10vh auto 0;
            width: 100vw;
            height: 100%;
            .text{
                margin: 5vh auto 0;
                width: 80%;
                font-size: 20px;
            }
        }
    }
    }
    

}

img{
    height: 60vh;
    width: auto;
    opacity: 0.8;
    @include mixins.breakpoint(1000px){
      height:  40vh;
    }
}
.projects{
    display: flex;
    width: 80vw;
    margin-left: 50px;
    .panel{
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
        border-radius: 50px;
        flex: 0.5;
        cursor: pointer;
        margin: 10px;
        position: relative;
        transition: flex 0.7s ease-in;
        -webkit-transition: all 700ms ease-in;
        border: 2px solid black;
        box-shadow:  5px 14px 25px rgb(0 0 0 / 60%);
        opacity: 0.8;
        h3,a{
            font-size: 32px;
            position: absolute;
            bottom: 20px;
            left: 45%;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            @include mixins.breakpoint(1000px){
                left: 35%;
            }
        }
        h3{
            bottom:100px;
            left: 40%;
            font-size: 48px;
        }
    }
    @include mixins.breakpoint(1000px){  
        flex-direction: column;
        height: 70vh;
        .panel{
            flex: 2;
            height: 80vh;
            width: 60vw;
            margin: 20px auto;
            h3{
                left: 30%;
                font-size: 32px;
                bottom: 75px;
            }
            
        }
    }

}
.panel.active{
    flex: 5;
    h3,a{
        opacity: 1;
        visibility:visible;
        transition: opacity 0.3s ease-in 0.4s;
        color: var(--main-color_2);
    }
}
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #3b1c8b;
    text-align: center;
    padding: 15px;
    color: var(--main-color_2) !important;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s !important;
}
.button:hover{
  background: #1E1D3C;
  color:var(--main-color_1);
  
}
#About_me{
    .c_About_me{
         display: flex;
         justify-content: space-around;
         .CV{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                padding: 5em 0;
            }
         }
        .skills{
            color: var(--main-color_1);
            position: relative;
            top: 20%;
            text-align:  center;
            height: 70%;
            h3{
                color: var(--main-color_2);
                font-size: 30px;
                margin-bottom: 50px;
            }
            .skills_info{
                display: flex;
                .skill_info{
                    display: flex;
                    flex-direction: column;
                    padding: 2em;
                    align-items: center;
                    img{
                        width: auto;
                        height: 150px;
                    }
                    div{
                        margin:  20px 0;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
        
        }
    @include mixins.breakpoint(1200px){
        .skills .skills_info .skill_info{
            padding: 0.5em;
        }
    }
    @include mixins.breakpoint(1000px){
        flex-direction: column;
        width: 100vw;
        .skills_info{
            justify-content: center;
        }
        img{
            height: 400px;
        }
    }
    @include mixins.breakpoint(700px){
        .skills_info{
            flex-direction: column;
        }
    }
    }
}
@include mixins.breakpoint(1000px){
    #About_me{
        height:140vh;
    }
}
@include mixins.breakpoint(700px){
    #About_me{
        height:230vh;
    }
}

  
  
  .ProgressBar{
    --size: 12rem;
    --fg: #3b1c8b;
    --bg: #def;
    --pgPercentage: var(--value);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  .ProgressBar:before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }
#Contact{
    margin: auto;
    .direct-contact-container {
        min-width: 400px;
        width: 50%;
        margin: 150px auto;
        background-color: #1E1D3C;
        opacity: 0.8;
        padding: 60px;
        border-radius: 50px;
        .contact-list {
            list-style-type: none;
            margin-left: -30px;
            padding-right: 20px;
            .list-item {
                line-height: 5;
            }
          
            .contact-text {
                font-size: 2rem;
                letter-spacing: 1.9px;
                a{
                    font-size: 2rem;
                }
                @include mixins.breakpoint(1200px){
                    font-size: 1.5rem;
                }
                @include mixins.breakpoint(1000px){
                    a{
                        font-size: 1.5rem;
                    }
                }
                @include mixins.breakpoint(1000px){
                    font-size: 1rem;
                }
            }
            
          
            .place {
                margin-left: 62px;
            }
          
            .phone {
                margin-left: 56px;
            }
          
            .gmail {
                color: var(--main-color_1);
                margin-left: 53px;
            }
            
            .contact-text a {
                color: var(--main-color_1);
                text-decoration: none;
                transition: all 0.3s;
            }
            
            .contact-text a:hover {
                color: var(--main-color_2);
                text-decoration: none;
            }
        }
    }
    .social_network{
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: 100px auto 0;
        i:hover{
            font-size: 1.5em;
        }
        
    }
    @include mixins.breakpoint(1000px){
        .content{
            width: 100vw;
        }
        
    }
    @include mixins.breakpoint(600px){
        .direct-contact-container{
            min-width: 200px;
            .contact-list .contact-text{
                font-size: 12px;
                a{
                    font-size: 16px;
                }
            }
        }
    }    

}
a, i{
    text-decoration: none;
    color: var(--main-color_2);
    font-size: 40px;
    transition: all 0.3s;
  }
  a:hover{
    color:var(--main-color_1);
  }

  
  
  



